.loginmaster{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border: 2px solid black;
    padding: 30px 50px;
    border-radius: 10px;
    gap: 30px;
}

.login_label{
    position: absolute;
    margin: 10px 0 0 10px;
    padding: 0 5px;
    background-color: white;
}

.login_input{
    width: 270px;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
}

.loginSubmitbtn{
    width: 90px;
    height: 30px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}