.navbar{
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: #054A91;
}
.navbar nav{
    display: flex;
    justify-content: space-between;
}

.navbar_logo h4{
    font-size: 1.4rem;
}
.navbar_links ul{
    display: flex;
    gap: 30px;
    color: black;
}

.navbar_links ul li{
    font-size: 0.95rem;
}

.linkStyle{
    color: white;  
}