.editorContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #2a2a2a 0%, #c5c5c5 100%);
}

.option {
    cursor: pointer;
    font-size: 0.8rem;
}

.editor {
    display: flex;
    background-color: rgba(26, 26, 26, 0.12);
    height: 80vh;
    width: 70%;
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    align-items: center;
}

.editor_navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
    padding: 30px 0;
    height: 100%;
    width: 80px;
    background-color: #1C1C1C;
    color: white;
}

.editor_navbar_options {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.editor_navbar_options_cont {
    cursor: pointer;
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editor_icons {
    width: 20px;
}


.editor_properties {
    background: #313131;
    box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 250px;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
} 

.editor_imageArea_container{
    box-sizing: border-box;
    background: transparent;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.editor_imageArea{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 70%;
    width: 80%;
}

.bottons {
    display: flex;
    gap: 50px;
}

.func{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color:#313131;
}